<div id="centered">
	<div class="row">
	    <div class="title-main text-center">
	    	{{#if isForm}}
	       		<h1>{{formData.add_text}}</h1>
	       	{{else}}
	       		<h1>{{formData.name}}
	       	{{/if}}
	    </div>
	</div>
	{{#if isForm}}
		{{{formHtml}}}
	{{/if}}
</div>