<div class="menu-right-help">
    <div class="row">
        <div class="col-md-4 menucontent-right-help" style="right: -10em;">
            <div class="row text-center">
                <a href="#" class="col-md-4 text-center submenuoption">
                    <p class="menupicture"><span class="glyphicon glyphicon-cloud"></span></p>
                    <p class="menutitle">Configure</p>
                </a>
            </div>
            <div class="divider"></div>
            <div class="row">
                <a href="#" class="col-md-4 text-center submenuoption">
                    <p class="menupicture"><span class="glyphicon glyphicon-th"></span></p>
                    <p class="menutitle">User Managment</p>
                </a>
            </div>
        </div>
        <div id="menubutton" class="col-md-1 menutoggle-right-help" style=""><i class="fa  fa-life-saver"></i> </div>
    </div>
</div>