<div class="menu-left">
    <div class="row">
        <div class="menucontent" style="left: -10em;">
            <div class="row text-center">
                <a href="#" class="text-center submenuoption">
                    <i class="fa fa-gears"></i> Configure
                </a>
            </div>
            <div class="row text-center">
                <a href="#" class="text-center submenuoption">
                    <i class="fa fa-users"></i> User Management
                </a>
            </div>
        </div>
        <div id="menubutton" class="col-md-1 menutoggle" style=""><span class="glyphicon glyphicon-list"></span></div>
    </div>
</div>