doctype html
html
	head
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		link(href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="stylesheets/style.css")
	body
		#titlebar
			p#titletext Apache Stratos
			#menuoptions
				a.menuoption#leftoption(href="#") Administer Tenant
				a.menuoption(href="#") Monitor
				a.menuoption(href="#") User Management
			p#usertext Test User
			img#userimage(src="images/user.png")
		block content
