extends layout

block content
	link(rel="stylesheet" href="/stylesheets/form.css")
	.menu
		.row
			.col-md-4.menucontent
			.col-md-1.menutoggle#menubutton
				span.glyphicon.glyphicon-list
	block form
	script(src="/js/form.js")