extends base/layout

block content
	link(rel="stylesheet" href="/stylesheets/form.css")
	.menu
		.row
			.col-md-4.menucontent
				.row.text-center
					a.col-md-4.text-center.submenuoption(href="#")
						p.menupicture: span.glyphicon.glyphicon-cloud
						p.menutitle IaaS
				.divider
				.row
					a.col-md-4.text-center.submenuoption(href="#")
						p.menupicture: span.glyphicon.glyphicon-th
						p.menutitle Partitions
				.divider
				.row
					a.col-md-4.text-center.submenuoption(href="#")
						p.menupicture: span.glyphicon.glyphicon-road
						p.menutitle Deployment Policies
				.divider
				.row
					a.col-md-4.text-center.submenuoption(href="/configure/autoscalingpolicies")
						p.menupicture: span.glyphicon.glyphicon-resize-full
						p.menutitle Autoscaling Policies
				.divider
				.row
					a.col-md-4.text-center.submenuoption(href="#")
						p.menupicture: span.glyphicon.glyphicon-inbox
						p.menutitle Cartridge/LB Definitions
				.divider
				.row
					a.col-md-4.text-center.submenuoption(href="#")
						p.menupicture: span.glyphicon.glyphicon-transfer
						p.menutitle Multitenant Services
			.col-md-1.menutoggle#menubutton
				span.glyphicon.glyphicon-list
	#centered
		h1#maintitle.text-center= name
		.container#content
			a.formbutton.formbutton-success(href="#{new_url}") #{add_text}
	script(src="/js/table.js")