body{background: url('../images/stratos_background.png');height: 100%;width: 100%; font-family: 'Open Sans', san-serif;}
/* index_header partial related styles */
.user-image img{width: 50px;}
.navbar{border-radius: 0px; box-shadow:0 0 5px -1px rgb(100,100,100);}
.navbar-default{background: #fff; }
.logo img{width: 140px}
.navbar-nav>li>a{padding: 5px;}
.navbar-brand {float: left;height: 50px;padding: 6px 15px;font-size: 18px;line-height: 20px;}
.navbar-nav{margin: 0px}

/*index_left_menu partial styles */
.menu-left {
    position: fixed;
    float: left;
    z-index: 99;
    margin-top: 4em;
}
.menucontent {
    position: fixed;
    width: 10em;
    background-color: white;
    left: -10em;
    box-shadow: 0 0 20px 1px rgb(100,100,100);
    z-index: 1;
    padding-top: 0.5em;
}
.menutoggle {
    background-color: white;
    font-size: 1.5em;
    color: rgb(60,60,60);
    width: 2.7em;
    box-shadow: 0 0 20px 1px rgb(100,100,100);
    height: 2em;
    padding-top: 0.35em;
    padding-left: 1.3em;
    left: 0;
    z-index: 0;
}


.menu-right-help {
    position: fixed;
    right: 0;
    z-index: 99;
    margin-top: 4em;
}
.menucontent-right-help {
    position: fixed;
    width: 10em;
    background-color: white;
    right: -10em;
    box-shadow: 0 0 20px 1px rgb(100,100,100);
    z-index: 1;
    padding-top: 0.5em;
}
.menutoggle-right-help {
    background-color: white;
    font-size: 1.5em;
    color: rgb(60,60,60);
    width: 2.7em;
    box-shadow: 0 0 20px 1px rgb(100,100,100);
    height: 2em;
    padding-top: 0.35em;
    padding-right: 1.3em;
    right: 0;
    z-index: 0;
}
