body{background: url('../images/stratos_background.png')  no-repeat; background-color:#4872fd; height: 100%;width: 100%; font-family: 'Open Sans', san-serif; }
h1{font-family: 'Open Sans', san-serif;color: rgb(255,255,255);
    text-shadow: 0 0 5px rgb(75,75,75); margin: 2em 0px; font-weight: 600}
/* index_header partial related styles */
.user-image img{width: 50px;}
.navbar{border-radius: 0px; box-shadow:0 0 5px -1px rgb(100,100,100); margin-bottom: 0px; z-index: 99999; position: fixed;width: 100%}
.navbar-default{background: #fff; }
.logo img{width: 140px}
.navbar-nav>li>a{padding: 5px;}
.navbar-brand {float: left;height: 50px;padding: 6px 15px;font-size: 18px;line-height: 20px;}
.navbar-nav{margin: 0px}

/* index_sub_header partial related styles */
.sub-header {
    padding: 9px 15px;
    border-bottom: 1px solid #d3d7db;
    border-top: 1px solid #eee;
    background: #f7f7f7;
    position: fixed;
    height: 40px;
    z-index: 99990;
    width: 100%;
    margin-top: 4.429em;
}

.sub-header h2 {
    font-size: 18px;
    color: #595858;
    letter-spacing: -0.5px;
    margin: 0;
}

/*index_left_menu partial styles */
.menu-left {
    position: fixed;
    float: left;
    z-index: 99;
    margin-top: 10em;
}
.menucontent {
    position: fixed;
    width: 10em;
    background-color: white;
    left: -10em;
    box-shadow: 0 0 20px 1px rgb(100,100,100);
    z-index: 1;
    padding-top: 0.5em;
}
.menutoggle {
    background-color: white;
    font-size: 1.5em;
    color: rgb(60,60,60);
    width: 2.7em;
    box-shadow: 0 0 20px 1px rgb(100,100,100);
    height: 2em;
    padding-top: 0.35em;
    padding-left: 1.3em;
    left: 0;
    z-index: 0;
}


.menu-right-help {
    position: fixed;
    right: 0;
    z-index: 99;
    margin-top: 10em;
}
.menucontent-right-help {
    position: fixed;
    width: 10em;
    background-color: white;
    right: -10em;
    box-shadow: 0 0 20px 1px rgb(100,100,100);
    z-index: 1;
    padding-top: 0.5em;
}
.menutoggle-right-help {
    background-color: white;
    font-size: 1.5em;
    color: rgb(60,60,60);
    width: 2.7em;
    box-shadow: 0 0 20px 1px rgb(100,100,100);
    height: 2em;
    padding-top: 0.35em;
    padding-left: 0.55em;
    right: 0;
    z-index: 0;
}

/* menu box realted styles */
.title{
    margin-top: 3em;
}
.content{
    background-color: #fff;box-shadow: 0 0 5px -1px rgb(100,100,100);

}

.content-menu-block{
    padding: 1em;
    min-height: 21.429em;
    cursor: pointer;
}

.content-menu-block i{
    font-size: 10em;
    color:#7fbee8;
}

.content-menu-block i:hover {
    color: #7b828c;
}

.content a:hover, .content a:focus {
    color: #7b828c;
    text-decoration: none;
}
.content a:hover > .content-menu-block i{
    color: #7b828c;
}


.border-right{
    border-right: 1px solid #e4e7ea;
    margin: 1.429em 0em;

}

.content-menu-block:after {
    content: '';
    position: absolute;
    width:90%;
    min-height: 21.429em;
    border-bottom: 1px solid #e4e7ea;
    left: 1.429em;
    top: 1.429em;
}

.form-toolbar{
    margin: 0.714em 0em;
}

.row-overide{
    margin-right: 0px;
    margin-left: 0px;
}

.form-control-feedback{
    top: 0px;
}

.form-error{
    color: red;
}