body{background: url('../images/stratos_background.png');height: 100%;width: 100%; font-family: 'Open Sans', san-serif;}
/* index_header partial related styles */
.user-image img{width: 50px;}
.navbar{border-radius: 0px; box-shadow:0 0 5px -1px rgb(100,100,100);}
.navbar-default{background: #fff; }
.logo img{width: 140px}
.navbar-nav>li>a{padding: 5px;}
.navbar-brand {float: left;height: 50px;padding: 6px 15px;font-size: 18px;line-height: 20px;}
.navbar-nav{margin: 0px}
