#content {
	padding-bottom: 1.5em;
	padding-top: 1em;
}

.formlabel {
	float: left !important;
}

.formbutton {
	height: 2em;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 1.1em;
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	color: rgb(60,60,60);
	border-radius: 5px;
}

.formbutton:hover {
	color: rgb(60,60,60);
	text-decoration: none;
}

.formbutton-danger {
	width: inherit;
	height: inherit;
	background-color: rgb(241,95,116);
}

.formbutton-success {
	width: inherit;
	height: inherit;
	background-color: rgb(152,203,74);
}

.formbutton-caution {
	width: inherit;
	height: inherit;
	background-color: rgb(247,216,66);
}