#maintitle {
	margin-top: 1em;
	font-family: 'Ubuntu', sans-serif;
	color: rgb(255,255,255);
	text-shadow: 0 0 5px rgb(75,75,75);
}

#content {
	background-color: white;
}

.containertitle {
	font-family: 'Ubuntu', sans-serif;
	font-size: 2em;
}