extends ../base/configureform

block form
	link(rel="stylesheet" href="/stylesheets/configure/autoscalingpolicies.css")
	#centered.vertical-center
		h1#maintitle.text-center Configure a new Autoscaling Policy
		.container#content
			form(action="#")
				.form-group
					label.formlabel Autoscaling Policy ID
					input(type="text" placeholder="Enter an ID for the policy here").form-control
				h4 Load Thresholds
				.panel-group#requests
					.panel.panel-default
						.panel-heading
							h4.panel-title: a.togglelink(data-toggle="collapse" data-parent="#requests" href="#requestpanel") Requests in Flight
						.panel-collapse.collapse#requestpanel
							.form-group
								.row
									.col-xs-6
										label.formlabel Average
										input(type="text" placeholder="Enter request average here").form-control
									.col-xs-6
										label.formlabel Second Derivative
										input(type="text" placeholder="Enter second derivative here").form-control
							.form-group
								.row
									.col-xs-6
										label.formlabel Gradient Scaling Margin
										input(type="text" placeholder="Enter the scale down margin of the gradient here").form-control
									.col-xs-6
										label.formlabel Second Derivative Scaling Margin
										input(type="text" placeholder="Enter the scale down margin of the second derivative").form-control
							.form-group
								.row
									.col-xs-6
										label.formlabel Gradient
										input(type="text" placeholder="Enter the request gradient here").form-control
				.panel-group#memory
					.panel.panel-default
						.panel-heading
							h4.panel-title: a.togglelink(data-toggle="collapse" data-parent="#memory" href="#memorypanel") Memory Consumption
						.panel-collapse.collapse#memorypanel
							.form-group
								.row
									.col-xs-6
										label.formlabel Average
										input(type="text" placeholder="Enter memory consumption average here").form-control
									.col-xs-6
										label.formlabel Second Derivative
										input(type="text" placeholder="Enter second derivative here").form-control
							.form-group
								.row
									.col-xs-6
										label.formlabel Gradient Scaling Margin
										input(type="text" placeholder="Enter the scale down margin of the gradient here").form-control
									.col-xs-6
										label.formlabel Second Derivative Scaling Margin
										input(type="text" placeholder="Enter the scale down margin of the second derivative").form-control
							.form-group
								.row
									.col-xs-6
										label.formlabel Gradient
										input(type="text" placeholder="Enter the memory consumption gradient here").form-control
				.panel-group#loadaverage
					.panel.panel-default
						.panel-heading
							h4.panel-title: a.togglelink(data-toggle="collapse" data-parent="#loadaverage" href="#loadaveragepanel") Load Average
						.panel-collapse.collapse#loadaveragepanel
							.form-group
								.row
									.col-xs-6
										label.formlabel Average
										input(type="text" placeholder="Enter load average here").form-control
									.col-xs-6
										label.formlabel Second Derivative
										input(type="text" placeholder="Enter second derivative here").form-control
							.form-group
								.row
									.col-xs-6
										label.formlabel Gradient Scaling Margin
										input(type="text" placeholder="Enter the scale down margin of the gradient here").form-control
									.col-xs-6
										label.formlabel Second Derivative Scaling Margin
										input(type="text" placeholder="Enter the scale down margin of the second derivative").form-control
							.form-group
								.row
									.col-xs-6
										label.formlabel Gradient
										input(type="text" placeholder="Enter the load gradient here").form-control
				.container.text-center
					.col-md-4
						a.formbutton.formbutton-danger(href="/configure.html") Cancel
					.col-md-4
						a.formbutton.formbutton-caution(href="#") JSON
					.col-md-4
						a.formbutton.formbutton-success(href="#") Deploy